<div data-ng-controller="chatBoxCtrl" data-ng-init="updateFilter(); autojoinRoom();getInq();" class="row" style="background-color:white">

    <div class="col-md-8 col-sm-8 conversation">
        <div id="mmmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title text-white">Past inquiries</h4>
                    </div>

                    <div class="modal-body" >
                        <table class="table" align="center">

                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>

                                    <th>
                                        Inquiry Title
                                    </th>

                                    <th>
                                        # of item requesteds
                                    </th>

                                    <th>
                                        # of quotes sent
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="y in allInq|inqFilter:currentInq.inquiryOwner track by $index">
                                    <td>
                                        {{$index+1}}
                                    </td>

                                    <td>
                                        <a target="_blank" href="#!/home/inbox/chat/{{y.inquiryID}}">{{y.inquiryName}}</a>
                                    </td>

                                    <td>
                                        {{y.items.length}}
                                    </td>

                                    <td>
                                        <p ng-show="y.quotations == undefined">0</p>
                                        <p ng-show="y.quotations.length>0">{{y.quotations.length}}</p>
                                    </td>


                                </tr>

                            </tbody>




                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="card" style="margin-top:5px">
            <h4 class="card-header bg-primary text-white">
                Inquiry title:  {{currentInq.inquiryName}}

                <div class="dropdown float-right">

                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">See more</button>


                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Move to
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-show="currentInq.status !='trash'" class="dropdown-item" href data-ng-click="toTrash(currentInq)">Move to trash</a>

                    <a ng-show="currentInq.status =='trash'" class="dropdown-item" href data-ng-click="toInbox(currentInq)">Move to Inbox</a>

                  </div>
                </div>
            </h4>

            <div class="card-body collapse" id="collapseExample" >

                <div class="row">
                    <div class="col-md-6" >
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Name:</h6>
                            </div>

                            <div class="col-md-8">
                                <h6><a href data-toggle="modal" data-target="#mmmodal">{{currentUser.name}}</a></h6>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h6>Email:</h6>
                            </div>

                            <div class="col-md-8">
                                <h6><a href="mailto:{{currentUser.email}}">{{currentUser.email}}</a></h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h6>Address:</h6>
                            </div>

                            <div class="col-md-8">
                                <h6>
                                    <a href="https://www.google.com/maps?q={{currentUser.address}}" target="_blank"> {{currentUser.address}} </a>
                                </h6>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6" >

                        <div class="row">
                            <div class="col-md-4">
                                <h6>Contact:</h6>
                            </div>

                            <div class="col-md-8">
                                <h6>{{currentUser.contact}}</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h6>Organization:</h6>
                            </div>

                            <div class="col-md-8">
                                <h6><a href="https://www.google.com/search?q={{currentUser.comname}}" target="_blank">{{currentUser.comname}}</a></h6>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div id="convo" data-ng-model="convo" class="row">

            <div class="col-md-12 scrollbar" id="style-1">
                <div data-ng-repeat="msg in messages |filter: filterR track by $index">
                    <div ng-if="msg.messageUser!='admin'">
                        <div ng-if="msg.link==undefined || msg.link==''" class="bubble you" data-toggle="tooltip" data-placement="left" title="{{msg.messageTime|| secondsToDateTime | date:'short'}}">
                            <span style="white-space: pre-line">{{msg.messageText}}</span>
                        </div>

                        <div ng-if="msg.link!=undefined && msg.link!=''" class="bubble you">
                            <span style="white-space: pre-line"><img class="image" style="width:200px; height:auto" ng-src="{{msg.link}}"ng-click="view()" data-toggle="tooltip" data-placement="left" title="{{msg.messageTime|| secondsToDateTime | date:'short'}}"/></span>
                        </div>


                    </div>

                    <div ng-if="msg.messageUser=='admin'">
                        <div ng-if="msg.link==undefined || msg.link==''" class="bubble me" data-toggle="tooltip" data-placement="right" title="{{msg.messageTime|| secondsToDateTime | date:'short'}}">
                            <span style="white-space: pre-line">{{msg.messageText}}</span>
                        </div>

                        <div ng-if="msg.link!=undefined && msg.link!=''" class="bubble me">
                            <span style="white-space: pre-line"><img class="image" style="width:200px; height:auto" ng-src="{{msg.link}}" ng-click="view()" data-toggle="tooltip" data-placement="right" title="{{msg.messageTime|| secondsToDateTime | date:'short'}}"/></span>
                        </div>


                    </div>
                </div>

            </div>

        </div>


        <div id="sMsg">
            <form ng-submit="sendMessage2()">

                <div class="row col-md-12">

                    <textarea class="form-control col-md" id="usermsg" placeholder="Type a message" data-ng-click="updateRead()" data-ng-model="inputMessage"></textarea>


                    <button class="btn btn-primary" data-ng-model="inputMessage">Send</button>

                    <input id="fileInput" type="file" style="display:none;" ng-model="photo" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*"/>

                    <button style="margin-left:20px" class="btn btn-primary" onclick="document.getElementById('fileInput').click();">Send Image</button>

                    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title " id="exampleModalLabel">Confirm Image upload</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>


                                <div class="modal-body">
                                    <div class="col-md">
                                        <img class="text-center" style="width:250px; height:auto;" ng-src="{{loadedFile}}" alt=""/>
                                    </div>




                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" data-ng-click="upload()" class="btn btn-primary">Confirm upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>



    </div>


    <div class="col-md-4 col-sm-8" style="border-left: 1px solid #e6e6e6;">


        <div class="card" style="margin-top:15px">
            <h4 class="card-header bg-primary text-white">Items Requested <span class="badge badge-light text-primary">{{currentInq.items.length}}</span></h4>

            <div id="bearings">
                <div class="card-body" style="border-bottom:1px solid #e6e6e6" data-ng-repeat="b in currentInq.items track by $index">
                    <a href><img style="width:15%;height:auto" ng-show="b.imageUrl!=''" class="image float-md-right" ng-click="view()" ng-src="{{b.imageUrl}}" alt="item picture"/></a>

                    <h4 class="card-title" ng-show="b.serialNo!=''">Requested Quantity: {{b.quantity}}</h4>
                    #{{$index+1}}

                    <h4 class="card-title" ng-show="b.serialNo==''">Item name not provided</h4>

                    <table>
                        <tr>
                            <td>
                                <b>Description: </b>
                            </td>
                            <td style="padding-left:10px">
                                {{b.extraComment}}
                            </td>

                        </tr>
                    </table>

                </div>
            </div>

        </div>

        <!-- Quotation -->


        <div class="quotation" data-ng-repeat="inq in allInq|customFilter:chatID track by $index">
            <button style="" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal{{$index}}" > Send Quotation </button>

            <div id="myModal{{$index}}" class="modal fade" role="dialog">

                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title text-white">Quotation</h4>
                        </div>

                        <div class="modal-body">

                            <table class="table" align="center">
                                <tr>
                                    <th>
                                        #
                                    </th>

                                    <th>
                                        Item name
                                    </th>

                                    <th>
                                        Quantity
                                    </th>

                                    <th>
                                        Price/ unit
                                    </th>

                                    <th>
                                        Total
                                    </th>

                                    <th>

                                    </th>
                                </tr>

                                <tr ng-repeat="s in currentInq1.items track by $index">
                                    <td>
                                        {{$index+1}}
                                    </td>

                                    <td>

                                        <input type="text" class="form-control no-border input-sm" data-ng-model="bearing[$index]" data-ng-change="updateBearings($index,bearing[$index])"/>

                                    </td>

                                    <td>
                                        <input type="number" style="width:5vw" class="input-sm form-control no-border" data-ng-model="quantity[$index]" size="1" data-ng-init="quantity[$index]=0" ng-change="getTotal();"/>
                                    </td>

                                    <td>
                                        <input type="number"  style="width:5vw" class="input-sm form-control no-border" data-ng-model="ppu[$index]" data-ng-init="ppu[$index] = 0" size="1" ng-change="getTotal();"/>
                                    </td>

                                    <td>
                                        <span data-ng-model="total[$index]">
                                            {{quantity[$index]*ppu[$index] | currency:'RM '}}
                                        </span>
                                    </td>

                                    <td data-ng-model="gTotal">
                                        <!-- <a style="text-decoration:none" class="glyphicon glyphicon-remove" data-ng-click="removeRow($index);" aria-hidden="true"></a> -->
                                        <img style="width:16px; height:auto;" src="/css/close-icon-7.png" data-ng-click="removeRow($index);"/>

                                    </td>
                                </tr>

                                <tr ng-show="discount == true">
                                    <td>
                                         &nbsp;
                                    </td>

                                    <td>

                                        Discount (%)
                                    </td>

                                    <td colspan="2">
                                        <input type="text" data-ng-init="$parent.dis=0" ng-model="$parent.dis" class="form-control no-border" placeholder="%" data-ng-change="getTotal()"/>
                                    </td>



                                    <td>

                                        <span id="discountAmount" ng-model="$parent.discountAmount" class="text-danger">
                                            {{realTotal * $parent.dis/100|currency:"RM "}}
                                        </span>
                                    </td>

                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>

                                    <td>
                                        {{gTotal|currency:"RM "}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                            </table>

                            <div class="row" >
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-md" data-ng-click="addRow()">Add Row</button>
                                </div>

                                <div class="col-md-8">
                                    <button type="button" class="btn btn-md" data-ng-click="toggleDiscount()">Add/remove Discount</button>
                                </div>

                                <div class="col-md-2" >
                                    <button type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-ng-click="sendQuote()">Send</button>
                                </div>

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- quotation end--->

        <div class="card" style="margin-top:60px">
            <h4 class="card-header bg-primary text-white">Quotations sent <span class="badge badge-light text-primary">{{currentInq.quotations.length}}</span> </h4>


                <div id="quotes">
                    <div ng-show="currentInq.quotations.length == null" style="text-align:center;padding-top:25px;">
                      <img src="/css/sad.png" style="width:auto;height:150px;"/>
                      <h6 class="text-primary" style="padding-left:15px; padding-top:10px;"> Customers are awaiting for your quotation </h6>
                    </div>

                    <div ng-repeat="q in currentInq.quotations |reverse track by $index">
                        <div class="card-body" style="border-top:1px solid #e6e6e6" data-toggle="modal" data-target="#mModal{{$index}}">
                            <img ng-if="q.confirmation == undefined" alt="quote logo" src="https://www.dapd.net/content/uploads/2012/08/DAP_Icon_Mail-400x400.jpg" style="width:80px;height:auto;margin-right:10px" class="float-md-left"/>

                            <img ng-if="q.confirmation != undefined" src="/css/confirmed.jpg" style="width:80px;height:auto;margin-right:10px" class="float-md-left" alt="quote logo"/>

                            <h5>Quotation #{{currentInq.quotations.length-$index}}</h5>
                            <h6>Grand total: {{ q.gTotal|currency:'RM' }}<span ng-show="q.discountPercent>0"> (Discount {{q.discountPercent}}%)</span></h6>
                            <p class="">Number of items: {{q.quoteBearings.length}}</p>


                        </div>

                        <div id="mModal{{$index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h4 class="modal-title text-white">Quotation</h4>
                                    </div>

                                    <div class="modal-body" >
                                        <table class="table" align="center">

                                            <thead>
                                                <tr>
                                                    <th class="">
                                                        #
                                                    </th>

                                                    <th class="">
                                                        Item Name
                                                    </th>

                                                    <th>
                                                        Quantity
                                                    </th>

                                                    <th>
                                                        Price/ unit
                                                    </th>

                                                    <th>
                                                        Total
                                                    </th>

                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="s in q.quoteBearings track by $index">
                                                    <td scope="row">
                                                        {{$index+1}}
                                                    </td>

                                                    <td>
                                                        {{s.serialNo}}
                                                    </td>

                                                    <td>
                                                        {{s.quantity}}
                                                    </td>

                                                    <td>
                                                        {{s.pricePerUnit}}
                                                    </td>

                                                    <td>
                                                        {{s.total | currency:"RM"}}
                                                    </td>
                                                </tr>

                                                <tr ng-show="q.discountPercent>0">
                                                    <td>
                                                         &nbsp;
                                                    </td>

                                                    <td>

                                                        Discount (%)
                                                    </td>

                                                    <td colspan="2">
                                                        {{q.discountPercent}}%
                                                    </td>



                                                    <td>

                                                        <span id="discountAmount" ng-model="$parent.discountAmount" class="text-danger">
                                                            {{q.discountAmount|currency:"RM"}}
                                                        </span>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td colspan="2">
                                                        Grand Total
                                                    </td>

                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>

                                                    <td>
                                                        {{q.gTotal|currency:"RM"}}
                                                    </td>

                                                </tr>
                                            </tbody>




                                        </table>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
