<div style="background-color:#; height:100vh;">
    <div class="container" data-ng-controller="historyCtrl" ng-init="getInq();updateUsers()">
        <div class="row">
            <div class="col-md-7">


                <h2 class="display-3">Orders</h2>

                <div class="row">
                    <div class="col-md-3 col-sm-8 form-group">
                        <input ng-model="query.time" class="form-control" placeholder="Time"/>
                    </div>

                    <div class="col-md-3 col-sm-8 form-group">
                        <input ng-model="query.customer" class="form-control" placeholder="Customer Name"/>
                    </div>

                    <div class="col-md-3 col-sm-8 form-group">
                        <input ng-model="query.inquiryName" class="form-control" placeholder="Inquiry Name"/>
                    </div>

                    <div class="col-md-3 col-sm-8 form-group">
                        <input type="" ng-model="query.gTotal" class="form-control" placeholder="Amount(exclude RM)"/>
                    </div>

                    <!-- <div class="col-md-3 col-sm-8">
                        <select ng-model="queryBy" ng-init="queryBy='time'" class="form-control" id="exampleFormControlSelect1">
                           <option value="time" selected="selected">Confirmation time</option>
                           <option value="customer">Customer name</option>
                           <option value="inquiryName">Inquiry name</option>
                           <option value="gTotal">Amount paid</option>
                       </select>
                    </div> -->
                </div>






                <table class="table">
                    <thead>
                        <tr>
                            <th data-ng-click="orderByField='date'; reverseSort = !reverseSort">
                                Confirmation Time

                                <span ng-show="orderByField == 'date'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                                </span>

                            </th>

                            <!-- <th>
                                Transaction ID
                            </th> -->

                            <th data-ng-click="orderByField='customer'; reverseSort = !reverseSort">
                                Customer
                                <span ng-show="orderByField == 'customer'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                                </span>
                            </th>

                            <th data-ng-click="orderByField='paymentState'; reverseSort = !reverseSort">
                                Order Status
                                <span ng-show="orderByField == 'paymentState'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                                </span>
                            </th>

                            <th>
                                Inquiry name
                                <!-- Inquiry
                                <span ng-show="orderByField == 'inquiryName'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                                </span> -->
                            </th>

                            <th>
                                <!-- Quotation number -->
                            </th>

                            <th class="" data-ng-click="orderByField='amount'; reverseSort = !reverseSort">
                                Amount
                                <span ng-show="orderByField == 'amount'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                                </span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                            <tr data-ng-repeat="p in orders|orderBy:orderByField:reverseSort|filter:query">
                            <td>
                                {{p.time| date: 'medium'}}
                            </td>

                            <!-- <td>
                                {{p.paymentID}}
                            </td> -->

                            <td>

                                <div id="xymodal{{$index}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary">
                                                <h4 class="modal-title text-white ">Past inquiries</h4>
                                            </div>

                                            <div class="modal-body" >

                                                <div class="row">
                                                    <div class="col-md-6" >
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <h6>Name:</h6>
                                                            </div>

                                                            <div class="col-md-8">
                                                                <h6><a>{{p.customer}}</a></h6>
                                                            </div>

                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <h6>Email:</h6>
                                                            </div>

                                                            <div class="col-md-8">
                                                                <h6><a href="mailto:{{p.email}}">{{p.email}}</a></h6>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <h6>Address:</h6>
                                                            </div>

                                                            <div class="col-md-8">
                                                                <h6>
                                                                    <a href="https://www.google.com/maps?q={{p.address}}" target="_blank"> {{p.address}} </a>
                                                                </h6>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-md-6" >

                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h6>Contact:</h6>
                                                            </div>

                                                            <div class="col-md-8">
                                                                <h6>{{p.contact}}</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h6>Organization:</h6>
                                                            </div>

                                                            <div class="col-md-8">
                                                                <h6><a href="https://www.google.com/search?q={{p.comname}}" target="_blank">{{p.comname}}</a></h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <br />


                                                <table class="table" align="center">

                                                    <thead>
                                                        <tr>
                                                            <th >
                                                                #
                                                            </th>

                                                            <th>
                                                                Inquiry Title
                                                            </th>

                                                            <th>
                                                                # of items requested
                                                            </th>

                                                            <th>
                                                                # of quotes sent
                                                            </th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr ng-repeat="y in allInq|inqFilter:p.customerID  track by $index">
                                                            <td class="">
                                                                {{$index+1}}
                                                            </td>

                                                            <td class="">
                                                                <a data-ng-click="reload()" target="_blank" href="#!/home/inbox/chat/{{y.inquiryID}}" >{{y.inquiryName}}</a>
                                                            </td>

                                                            <td>
                                                                {{y.items.length}}
                                                            </td>

                                                            <td>
                                                                <p ng-show="y.quotations == undefined">0</p>
                                                                <p ng-show="y.quotations.length>0">{{y.quotations.length}}</p>
                                                            </td>


                                                        </tr>

                                                    </tbody>




                                                </table>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <!-- <span  data-toggle="modal" data-target="#xymodal" class="badge badge-pill badge-primary">{{p.customer}}</span> -->
                                <!-- <a href class="badge badge-primary" data-toggle="modal" data-target="#xymodal">{{p.customer}}</a> -->
                                <a href data-toggle="modal" data-target="#xymodal{{$index}}">{{p.customer}}</a>
                                <!-- <button data-toggle="modal" data-target="#xymodal" class="btn btn-primary btn-sm" type="button">
                                    {{p.customer}}
                                </button> -->


                            </td>

                            <td>
                                <span data-ng-if="p.confirm == true">
                                    <span class="text-success">Confirmed</span>
                                </span>

                                <span data-ng-if="p.confirm != true">
                                    <span class="text-danger">Not confirmed</span>
                                </span>
                            </td>



                            <td>
                                <a href data-ng-click="openInq(p.inquiryID)">{{p.inquiryName}}</a>

                                <!-- <button data-ng-click="openInq(p.inquiryID)" class="btn btn-primary btn-sm">
                                {{p.inquiryName}}
                                </button> -->
                            </td>

                            <td>

                                <!-- <a href data-toggle="modal" data-target="#myModal{{$index}}">View Quote #{{p.quoteNumber}}</a> -->
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal{{$index}}">
                                View Quote #{{p.quoteNumber}}
                                </button>


                                <div id="myModal{{$index}}" class="modal fade" role="dialog">

                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary">
                                                <h4 class="modal-title text-white">Quotation</h4>
                                            </div>

                                            <div class="modal-body" >
                                                <table class="table" align="center">

                                                    <thead>
                                                        <tr>
                                                            <th class="">
                                                                #
                                                            </th>

                                                            <th class="">
                                                                Item name
                                                            </th>

                                                            <th>
                                                                Quantity
                                                            </th>

                                                            <th>
                                                                Price/ unit
                                                            </th>

                                                            <th>
                                                                Total
                                                            </th>

                                                            <th>

                                                            </th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr ng-repeat="s in p.quote.quoteBearings track by $index">
                                                            <td scope="row">
                                                                {{$index+1}}
                                                            </td>

                                                            <td>
                                                                {{s.serialNo}}
                                                            </td>

                                                            <td>
                                                                {{s.quantity}}
                                                            </td>

                                                            <td>
                                                                {{s.pricePerUnit}}
                                                            </td>

                                                            <td>
                                                                {{s.total | currency:"RM"}}
                                                            </td>
                                                        </tr>

                                                        <tr ng-show="p.quote.discountPercent>0">
                                                            <td>
                                                                 &nbsp;
                                                            </td>

                                                            <td>

                                                                Discount (%)
                                                            </td>

                                                            <td colspan="2">
                                                                {{p.quote.discountPercent}}%
                                                            </td>



                                                            <td>

                                                                <span class="text-danger">
                                                                    {{p.quote.discountAmount|currency:"RM"}}
                                                                </span>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">
                                                                Grand Total
                                                            </td>

                                                            <td>

                                                            </td>
                                                            <td>

                                                            </td>

                                                            <td>
                                                                {{p.quote.gTotal|currency:"RM"}}
                                                            </td>

                                                        </tr>
                                                    </tbody>




                                                </table>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </td>

                            <td>
                                {{p.gTotal| currency:'RM'}}
                            </td>
                        </tr>
                    </tbody>




                </table>
            </div>
        </div>
    </div>
</div>
